Web/Service References/WizardService/WizardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WizardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1717/Services/WizardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1717/Services/WizardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1717/Services/WizardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wizard.Helpers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWizardService_GenerateDeck_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateDeck" />
  </wsdl:message>
  <wsdl:message name="IWizardService_GenerateDeck_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateDeckResponse" />
  </wsdl:message>
  <wsdl:message name="IWizardService_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IWizardService_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IWizardService_UpdateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGame" />
  </wsdl:message>
  <wsdl:message name="IWizardService_UpdateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IWizardService">
    <wsdl:operation name="GenerateDeck">
      <wsdl:input wsaw:Action="http://tempuri.org/IWizardService/GenerateDeck" message="tns:IWizardService_GenerateDeck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWizardService/GenerateDeckResponse" message="tns:IWizardService_GenerateDeck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWizardService/UpdatePlayer" message="tns:IWizardService_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWizardService/UpdatePlayerResponse" message="tns:IWizardService_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWizardService/UpdateGame" message="tns:IWizardService_UpdateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWizardService/UpdateGameResponse" message="tns:IWizardService_UpdateGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWizardService" type="tns:IWizardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateDeck">
      <soap:operation soapAction="http://tempuri.org/IWizardService/GenerateDeck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap:operation soapAction="http://tempuri.org/IWizardService/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGame">
      <soap:operation soapAction="http://tempuri.org/IWizardService/UpdateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WizardService">
    <wsdl:port name="BasicHttpBinding_IWizardService" binding="tns:BasicHttpBinding_IWizardService">
      <soap:address location="http://localhost:1717/Services/WizardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>