Web/Service References/WizardService/WizardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wizard.apphb.com/Services/WizardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" />
  <xs:element name="GenerateDeck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDeckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GenerateDeckResult" nillable="true" type="q1:ArrayOfCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsernameExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsernameExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsernameExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="LoginResult" nillable="true" type="q2:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacebookLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fb_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fb_userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacebookLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="FacebookLoginResult" nillable="true" type="q3:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="NewUserResult" nillable="true" type="q4:NewUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="ValidateSessionResult" nillable="true" type="q5:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOldSessions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxDays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOldSessionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameLobbyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameLobbyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameLobbyByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetGameByIdResult" nillable="true" type="q6:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameLobbyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameLobbyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameLobbyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetGameLobbyByIdResult" nillable="true" type="q7:GameLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameHistoryByGameId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameHistoryByGameIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetGameHistoryByGameIdResult" nillable="true" type="q8:GameHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameHistoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameHistoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameHistoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetGameHistoryByIdResult" nillable="true" type="q9:GameHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHistoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="handHistoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHistoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetHandHistoryByIdResult" nillable="true" type="q10:HandHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastHandHistoryByGameId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastHandHistoryByGameIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetLastHandHistoryByGameIdResult" nillable="true" type="q11:HandHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetPlayerByIdResult" nillable="true" type="q12:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetPlayerByNameResult" nillable="true" type="q13:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionBySecret">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionBySecretResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetSessionBySecretResult" nillable="true" type="q14:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q15:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="GetUserByUsernameResult" nillable="true" type="q16:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
        <xs:element minOccurs="0" name="ownerPlayerId" type="xs:int" />
        <xs:element minOccurs="0" name="dateCompleted" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numPlayers" type="xs:int" />
        <xs:element minOccurs="0" name="maxHands" type="xs:int" />
        <xs:element minOccurs="0" name="intialDealerPosition" type="xs:int" />
        <xs:element minOccurs="0" name="scoreData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupNameId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gameLobbyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="UpdateGameResult" nillable="true" type="q17:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameLobbyId" type="xs:int" />
        <xs:element minOccurs="0" name="ownerPlayerId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
        <xs:element minOccurs="0" name="groupNameId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inProgress" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="UpdateGameLobbyResult" nillable="true" type="q18:GameLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameHistoryId" type="xs:int" />
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="won" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="UpdateGameHistoryResult" nillable="true" type="q19:GameHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHandHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="handHistoryId" type="xs:int" />
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
        <xs:element minOccurs="0" name="deckData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trump" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHandHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="UpdateHandHistoryResult" nillable="true" type="q20:HandHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pictureUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="UpdatePlayerResult" nillable="true" type="q21:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
        <xs:element minOccurs="0" name="connectionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="UpdateSessionResult" nillable="true" type="q22:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
        <xs:element minOccurs="0" name="fb_userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" minOccurs="0" name="UpdateUserResult" nillable="true" type="q23:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>