Web/Service References/WizardService/WizardService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WizardGame.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="OwnerPlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Suit" type="tns:Suit" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:simpleType name="Suit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Spades" />
      <xs:enumeration value="Hearts" />
      <xs:enumeration value="Clubs" />
      <xs:enumeration value="Diamonds" />
      <xs:enumeration value="Fluff" />
      <xs:enumeration value="Wizard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Suit" nillable="true" type="tns:Suit" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateLastActive" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Secret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="NewUserResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="Secret" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewUserResult" nillable="true" type="tns:NewUserResult" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCompleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="GameLobbyId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupNameId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitialDealerPosition" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHands" type="xs:int" />
      <xs:element minOccurs="0" name="NumPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerPlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="GameLobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameLobbyId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupNameId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InProgress" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumPlayersInLobby" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerPlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameLobby" nillable="true" type="tns:GameLobby" />
  <xs:complexType name="GameHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameHistoryId" type="xs:int" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Won" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameHistory" nillable="true" type="tns:GameHistory" />
  <xs:complexType name="HandHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateLastModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeckData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="HandHistoryId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trump" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HandHistory" nillable="true" type="tns:HandHistory" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FB_SyncDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FB_UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="ArrayOfGameLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameLobby" nillable="true" type="tns:GameLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameLobby" nillable="true" type="tns:ArrayOfGameLobby" />
  <xs:complexType name="ArrayOfGameLobbyPlayers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameLobbyPlayers" nillable="true" type="tns:GameLobbyPlayers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameLobbyPlayers" nillable="true" type="tns:ArrayOfGameLobbyPlayers" />
  <xs:complexType name="GameLobbyPlayers">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameLobbyId" type="xs:int" />
      <xs:element minOccurs="0" name="GameLobbyPlayersId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameLobbyPlayers" nillable="true" type="tns:GameLobbyPlayers" />
</xs:schema>