Web/Service References/WizardService/WizardService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wizard.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wizard.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Suit" type="tns:Suit" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:simpleType name="Suit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Spades" />
      <xs:enumeration value="Hearts" />
      <xs:enumeration value="Clubs" />
      <xs:enumeration value="Diamonds" />
      <xs:enumeration value="Fluff" />
      <xs:enumeration value="Wizard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Suit" nillable="true" type="tns:Suit" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCompleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="InitialDealerPosition" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHands" type="xs:int" />
      <xs:element minOccurs="0" name="NumPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerPlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
</xs:schema>